data/
.idea/
*.pclprof
__pycache__/
*.pyc
# work_dirs/
.ipynb_checkpoints
deploy_build/
**/submission.csv
*.whl
IGNORE_ME*
site-packages/
checkpoint-*/
# preds/
*.csv
wandb/
model-weights/llama2-weights/llama2/llama*
model-weights/llama2-weights/llama2/Code*/
work_dirs/kaggle-dataset-deberta-v3-large/deberta-v3-large-2023-08-08-10-21-10
notebooks/models/*